/*main content*/
/*tabs present in main content*/
/*buttons present in main content*/
/* About web section*/
/*Black color to the text*/
/*Text color on hover*/
/*Color of underline*/
* {
	padding: 0;
	margin: 0;
}
#content {
	color: whitesmoke;
	text-align: center;
	height: 43em;
	padding-top: 3em;
}
#butn {
	margin-top: 6%;
	display: flex;
	justify-content: center;
	>li {
		margin: 0 2em;
		color: black;
		background-color: white;
		padding: 1.2em;
		border-radius: 5%;
		width: 15rem;
	}
}
.waves-effect {
	margin-top: 5%;
	font-size: 0.7em;
}
.inner-card {
	width: 600px;
	text-align: justify;
	line-height: 2;
	padding: 1.1em;
}
.inner-image {
	margin-top: 3%;
}
#aboutweb {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1.5em;
}
#pcservices {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1.5em;
}
.services {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1.5em;
}
#butn2 {
	display: flex;
	justify-content: center;
	>li {
		margin: 1.4em 2em;
		color: black;
		background-color: white;
		padding: 1.2em;
		border-radius: 5%;
		width: 15rem;
		text-align: center;
	}
}
#last-card {
	display: flex;
	justify-content: center;
	>li {
		margin: 1.4em 2em;
		color: black;
		background-color: white;
		padding: 1.2em;
		border-radius: 5%;
		width: 15rem;
		text-align: center;
	}
}
#pricemodal {
	display: flex;
	justify-content: center;
	>div {
		margin: 1.2em 5em;
	}
	>img {
		margin: 1.2em 5em;
	}
}
.eveservice {
	display: flex;
	justify-content: center;
	>li {
		margin: 1.4em 2em;
		color: black;
		background-color: white;
		padding: 1.2em;
		border-radius: 5%;
		width: 15rem;
		text-align: center;
	}
}
.tabs {
	.tab {
		a {
			&:focus.active {
				color: white;
				background-color: #1565c0;
			}
			color: #000;
			font-size: 1.3em;
			&:hover {
				background-color: #eee;
				color: #000;
				background-color: #1565c0;
				color: white;
			}
		}
		a.active {
			background-color: #1565c0;
			color: white;
		}
	}
	.indicator {
		background-color: white;
	}
}
.row1 {
	display: flex;
	justify-content: space-between;
	line-height: 2;
}