*{
    padding: 0;
    margin: 0;
}
/*main content*/
#content{
    color: whitesmoke;  
    text-align: center;
    height: 43em;
    padding-top: 3em;
}
/*tabs present in main content*/
#butn{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

#butn>li{
    margin: 0 2em;
    color: black;
    background-color: white;
    padding: 1.2em;
    border-radius: 5%;
    width: 15rem;
}
/*buttons present in main content*/
.waves-effect{
    margin-top: 5%;
    font-size: 0.7em;
}

/* About web section*/
.inner-card{
    width: 600px; 
    text-align: justify;
     line-height: 2;
    padding: 1.1em;
}
.inner-image{
    margin-top: 3%;
}
#aboutweb{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}

#butn2,#last-card,#pricemodal{
    display: flex;
    justify-content: center;
}

#butn2>li,#last-card>li{
    margin: 1.4em 2em;
    color: black;
    background-color: white;
    padding: 1.2em;
    border-radius: 5%;
    width: 15rem;
    text-align: center;
}
#pricemodal>div,#pricemodal>img{
    margin: 1.2em 5em;
}

.tabs .tab a:focus.active {
    color:white;
    /*Custom Text Color While Active*/
    background-color:#1565c0 ;
    /*Custom Background Color While Active*/
  }
  .tabs .tab a{
    color:#000;
    font-size: 1.3em;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/
.tabs .indicator {
    background-color:white;
} /*Color of underline*/
.tabs .tab a:hover, .tabs .tab a.active {
    background-color:#1565c0 ;
     color: white;
}
.row1{
    display: flex;
    justify-content: space-between;
    line-height: 2;
}