@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
#raspi{
    height: 40em;
}
.first a,.second a{
    color: black;
    font-family: sans-serif;
}
#cards{
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 39em;
}
#some{
    display: flex;
    text-align: center;
    justify-content: center;
}
h5{ 
    background-color: snow;
    margin-top: 17%;
    font-size: 4.9rem;
    padding: 0.3em;
}
.flow-text{
    font-size: 2rem; 
    background-color: snow; 
    display: inline-block;
}
#section2{
    text-align: center;
    padding-top: 2%;
    background-color:snow;
    padding-bottom: 3%;
}
.row{
    display: flex;
    justify-content: space-between;
    line-height: 2;
}
@media (max-width:960px){
    #hcontent{
        width: auto;
    }
    h5{
        font-size: 2.3rem;
    }
    .flow-text{
        font-size: 1.2rem;
    }
}